# Go build artifacts
/bin/
/pkg/
/dist/
*.exe
*.log

# Configuration files
backend/serviceAccountKey.json

# Node.js (if working with a frontend in the same repo)
/node_modules/
/frontend/build/
/frontend/dist/

# Ignore .env files (common for environment variables)
.env

# Ignore system files (macOS, Windows, Linux)
.DS_Store
Thumbs.db
