# Go build artifacts
/bin/
 /pkg/
 /dist/
*.exe
*.log

# Configuration files
backend/serviceAccountKey.json
backend/gcloudCredentials.json

# Ignore .env files (common for environment variables)
.env
**/.env

# Ignore Go module files
go.mod
go.sum

# Ignore Dockerfile
Dockerfile

# Ignore system files (macOS, Windows, Linux)
.DS_Store
Thumbs.db
