/* src/components/ParentDashboard.css */

.dashboard-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .signout-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  .signout-button:hover {
    background-color: #ff1a1a;
  }
  
  .welcome-section {
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .test-date-entry {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  .test-date-entry h3 {
    margin-top: 0;
  }

  .goal-entry {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .goal-entry h3 {
    margin-top: 0;
  }
  
  .test-data-entry {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .test-data-entry h3 {
    margin-top: 0;
  }